*.dart linguist-detectable=true
*.yaml linguist-detectable=true
pubspec.yaml linguist-detectable=true

*.java linguist-detectable=true
*.properties linguist-detectable=true

*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.h linguist-detectable=false

*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false

web/** linguist-detectable=false

*.py linguist-detectable=false

.dart_tool/** linguist-detectable=false
build/** linguist-detectable=false

.vscode/** linguist-detectable=false
.idea/** linguist-detectable=false

android/** linguist-detectable=false
ios/** linguist-detectable=false