*.dart linguist-detectable=true
*.java linguist-detectable=true

*.c linguist-detectable=false
*.h linguist-detectable=false
*.cpp linguist-detectable=false
*.hpp linguist-detectable=false
*.cc linguist-detectable=false
*.m linguist-detectable=false
*.mm linguist-detectable=false
*.cs linguist-detectable=false

android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
web/** linguist-vendored
build/** linguist-vendored

.dart_tool/** linguist-vendored
.packages linguist-vendored
pubspec.lock linguist-vendored

*.log linguist-generated
*.db linguist-generated
