<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Usuários cadastrados</title>
</head>
<body>

<h2>Lista de Usuários</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>CPF</th>
    </tr>

    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nome}"></td>
        <td th:text="${u.matricula}"></td>
        <td th:text="${u.cpf}"></td>
    </tr>
</table>

<br>
<a href="/cadastro">Cadastrar novo usuário</a>

</body>
</html>
